
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<form method="post">
    <label>Enter username</label>
    <input type="text" name="t1" class="form-control" /><br />

    <label>Enter password</label>
    <input type="password" name="t2" class="form-control" /><br /><br />

    <input type="submit" value="Login" />
</form>


<div class="btn btn-danger">
    @ViewData["err"]
</div>


<div class=" btn btn-info">
    @Html.ActionLink("new user?Click Here", "Register", null, new {@class = "btn btn-info" })
</div>