
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AcceptNPrint</title>
</head>
<body>
    <div>
        <form>
            <label>Enter the number</label> <input type="text" name="t1" />
            <label>Enter the name</label> <input type="text" name="t2" />
            <input type="submit" value="print name" />
            @{ 

               @ViewData["v"]
                foreach (int i= 0;int<=>)
            }
        </form>
    </div>
</body>
</html>
