
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowSum</title>
</head>
<body>
    <div>
        @ViewData["s"]
    </div>
</body>
</html>
